<div *ngIf="userAlbums">
    <div class="filter-search-container">
        <input
            type="text"
            class="filter-search"
            placeholder="Filter la tableau"
            [(ngModel)]="filter"
            (keyup)="updateFilter()"
        />
    </div>
    <ngx-datatable
            class="material"
            [rows]="userAlbumsFiltered"
            [columns]="columns"
            [columnMode]="'force'"
            [headerHeight]="40"
            [footerHeight]="40"
            [limit]="10"
            [rowHeight]="'auto'"
            [reorderable]="reorderable"
            (activate)="click($event)">
    </ngx-datatable>
    <app-album-modal [album]="currentAlbumSelected"></app-album-modal>
</div>