<div *ngIf="userAlbums">
    <ngx-datatable
            class="material"
            [rows]="userAlbums"
            [columns]="columns"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="40"
            [footerHeight]="40"
            [limit]="10"
            [rowHeight]="'auto'"
            [reorderable]="reorderable"
            (activate)="click($event)">
    </ngx-datatable>
    <app-album-modal [album]="currentAlbumSelected"></app-album-modal>
</div>