<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<!--Large modal-->

<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 *ngIf="album" class="modal-title pull-left">Album : {{album.title}}</h4>
                <button type="button" class="close pull-right" (click)="hideChildModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="album && album.user" class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            Nom
                        </div>
                        <div class="col-sm">
                            {{album.user.name}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            Nom d'utilisateur
                        </div>
                        <div class="col-sm">
                            {{album.user.username}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            Email
                        </div>
                        <div class="col-sm">
                            <a href="mailto:{{album.user.email}}">{{album.user.email}}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            Site web
                        </div>
                        <div class="col-sm">
                            <a [href]="album.user.website">{{album.user.website}}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            Numéro
                        </div>
                        <div class="col-sm">
                            {{album.user.phone}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            Nombre de photo
                        </div>
                        <div class="col-sm">
                            {{album.photos.length}}
                        </div>
                    </div>
                    <app-photos-slideshow [photos]="album.photos"></app-photos-slideshow>
                </div>
            </div>
        </div>
    </div>
</div>